<div class="footer-pink py-3">
    <div class="container">
        <p>Kontak kami:</p>
        <div class="row justify-content-center">
            <div class="mx-1">
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" style="width:30px">
            </div>
            <div class="mx-1">
                <img src="http://icons-for-free.com/free-icons/png/512/294709.png" style="width:30px">
            </div>
            <div class="mx-1">
                <img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" style="width:30px">
            </div>
        </div>
    </div>
    </div>
</div>
