<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <title>{% block title %}Dare2Care - A Crowd Funding Site{% endblock %}</title>
</head>

<body style="background-image: url({% static 'tsunami.jpg' %})">
{% include 'navbar.html' %}
{% block navbar %}
{% endblock %}

  <div class="text-center outer-div">
      <div class="mx-auto inner-div bg-container py-4">
        <div class="h1 text-pink">Selama kamu masih berdiri, cobalah untuk ulurkan tangan kepada orang-orang yang sedang jatuh</div>
        <a href="{% url 'programs:index' %}" class="btn btn-pink mt-4" role="button">Dare to Care</a>
      </div>
  </div>

</body>
</html>