<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-color">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="container">
		<a class="navbar-brand" href="/">Dare2Care</a>
		<div style="width:100%">
			<div class="float-right">
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						{% if user.is_authenticated %}
                            <a class="nav-item nav-link active" href="{% url 'app_profile:profile' %}"><span class="mr-2">Halo, <b>{{ user.username }}</b></span> | </a>
                        {% endif %}
						<a class="nav-item nav-link active" href="{% url 'landing_page'%}">Beranda<span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link active" href="{% url 'news'%}">Berita</a>
						<a class="nav-item nav-link active" href="{% url 'programs:index' %}">Program</a>
						<a class="nav-item nav-link active" href="/about-us/">Tentang Kami</a>
						{% if user.is_authenticated %}
                            <a class="nav-item nav-link active" href="{% url 'logout'%}">Keluar</a>
                        {% else %}
                            <a class="nav-item nav-link active" href="{% url 'social:begin' 'google-oauth2' %}">Daftar/Masuk</a>
                        {% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
