{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
	<link rel="stylesheet" href="{% static 'programs.css' %}">

	<!-- Js & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'app_profile.js' %}"></script>
  <title>Dare2Care - A Crowd Funding Site</title>
</head>
<body>
{% include 'navbar.html' %}

	<div class="container bg-container my-3 ">
		<div class="row m-0 px-0 py-3 ">
			<div class=" col-12 col-lg-3 section p-3 mb-3 mb-lg-auto">
			<div class="img-event text-center">
				<img class="img-fluid" src="http://pinkplumbingservices.co.uk/wp-content/uploads/2016/08/profile-1.png" alt="Foto Profil XXX" />
			</div>
			<div class="my-2 text-center">
				<b> {{ user.first_name }} {{ user.last_name }}  </b>
				<br/>
				<span id="username">{{ user.username }}</span>
				<br/>
				{{ user.email }}
			</div>
			<br>
		</div>

			<div class="section col-12 col-lg-9 p-3">
				Total Donasi Saya: <br>
				<div class="total-donation">Rp0,00</div>
			
				<hr>

				Donasi Saya:
				<div id="donation-list">
				</div>

			</div>


		</div>
	</div>
	
{% include 'footer.html' %}
{% block footer %}
{% endblock %}

</body>
<html>