{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
</head>

<body>

{% include 'navbar.html' %}

<div class="container bg-container py-5 my-3">
    <div class="row justify-content-center ">
        <div class="py-2 col-md-5 ">
          <h1 class="text-center text-pink">Pendaftaran</h1>
          <hr class="mt-0 mb-4">
          <form class="" method="POST" action="{% url 'daftar' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-4">
            <button type="submit" class="btn btn-pink" text-align="center">Daftar</button>
            </div>
          </form>
        </div>
    </div>
</div>


{% include 'footer.html' %}
{% block footer %}
{% endblock %}
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }
</script>
</html>