{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <link rel="stylesheet" href="{% static 'make_donation.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>

    <style type="text/css">
    	body{
			background-image: url({{ program.image_link }}); 
			background-size: cover;
		}
    </style>
  </head>

  <body>
	{% include 'navbar.html' %}
	<section>
		<div class="container bg-container my-3 py-3"> 
			<h1 class="text-center text-pink">Ayo bantu mereka!</h1>
			{% if user.is_authenticated %}
				<div class="row justify-content-center">
					<div class="col-md-5 my-3">
						<form id="form" method="POST" action="/make_donation/donate/{{ program.id }}/">
						{% comment %} <form id="form" method="POST"> {% endcomment %}
							{% csrf_token %}
							{{ form.as_p }}
							{% for message in messages %}
												<div class="alert alert-success">
														<a class="close" href="#" data-dismiss="alert">×</a>

														{{ message }}
														
												</div>
										{% endfor %}
							<div class='text-right'>
								<input id="submit" type ="submit" class="btn btn-pink" value="Donasi">
							</div>
						</form>
					</div>
				</div>
			{% else %}
				<h1 class="text-center text-pink">Anda harus log in dahulu</h1>
			{% endif %}
		</div>
	</section>
  </body>
</html>