{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Js & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
   <script src="{% static 'js/text.js' %}"></script>
</head>

<body>

{% include 'navbar.html' %}
<section>
		<div class="container bg-container my-3 py-3"> 
			<h1 class="text-center text-pink">Tentang Kami</h1>
			<br>
			<br>
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
			<br>
			<br>
			<br>
			<h1 class="text-center text-pink">Testimoni</h1>
			<br>
			
			<div class="container">
                <h1 class = "sub-title"><strong><i>Testimonial</i></strong></h1>
                <span>Let us know about your opinion toward us by giving testimonial below.</span>
                    {% for data in data_obj %}
                        <div class="box-testi-part col-lg-8">
                            <div class="text">
                                <span>" {{data.testimoni}} "</span>
                            </div>
                        </div>
                    {% endfor %}
            </div>
            
            <div class="container">
                <div id="testi-here">
            
                </div>
            </div>
            
            <div class="content">
                <div class="container">
                    
                    {% if user.is_authenticated %}
                        
                        <br><br>
                        
                        <form id="post-form" action="/about-us/" method="POST">
                            {% csrf_token %}
                            <div id="the_post">
                                {{ testimonial_form }}
                            </div>
                            <br>
                            <button class="btn btn-outline-secondary" type="submit" value="Create Testimonial">Submit</button>
                        </form>
                    
                    {% else %}
                        <span></span>
                        <br><br>
                        
                    {% endif %}
                    
                </div>
            </div>
            
</div>
</section>
{% include 'footer.html' %}
{% block footer %}
{% endblock %}
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myNavbar");
        if (x.className === "navbar") {
            x.className += " responsive";
        } else {
            x.className = "navbar";
        }
    }
</script>
</html>
