{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
	<link rel="stylesheet" href="{% static 'programs.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
</head>
<body>
{% include 'navbar.html' %}

	<div class="container bg-container my-3 ">
		<div class=" row  mx-0 my-0 px-0 py-3 ">
		<div class="col-12 ">
				<h1 class="my-2 ">{{ program.title }}</h1>
		</div>

				<!-- Default form register start -->
				<div class=" col-12 col-lg-8 section p-3 mb-3 mb-lg-auto">
				<div class="img-event">
						<img class="img-fluid" src="{{ program.image_link }}" alt="{{ program.title }}" />
				</div>
				<div class="my-2">
						{{ program.content }}
				</div>
				<br>
					</div>

				<div class=" section col-12 col-lg-4 p-3">
						Terkumpul: <br>
						<div class="total-donation">Rp{{ total }}</div>
						<a class="btn btn-block btn-pink my-3" href="/make_donation/{{ program.id }}/">Donasi Sekarang</a>
				
				<b>Donatur:</b>
				{% for donation in donation_list %}
				<div class="activity-card  col-12 px-0 py-2">
								<div class="donation">{{ donation.donasi }}</div>
								{{ donation.nama }}
				</div>
				{% endfor %}
				{% comment %} <div class="activity-card  col-12 px-0 py-2">
								<div class="donation">Rp1.245.000</div>
								Pewe Gaskin
				</div>
				<div class="activity-card  col-12 px-0 py-2">
								<div class="donation">Rp1.245.000</div>
								Pewe Gaskin
				</div>
				<div class="activity-card  col-12 px-0 py-2">
								<div class="donation">Rp1.245.000</div>
								Pewe Gaskin
				</div> {% endcomment %}
				</div>


			</div>
	</div>
	
{% include 'footer.html' %}
{% block footer %}
{% endblock %}
</body>
<html>