{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <link rel="stylesheet" href="{% static 'programs.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
</head>

<body>
	
{% include 'navbar.html' %}
{% block navbar %}
{% endblock %}
<div class="container my-3">
	<div id="products" class="row view-group">
		{% for program in program_list %}
			<div class="item col-xs-4 col-lg-4 mb-3">
				<div class="thumbnail card">
					<div class="img-event">
						<img class="group list-group-image img-fluid" src="{{ program.image_link }}" alt="" />
					</div>
					<div class="caption card-body">
						<h5 class="group card-title inner list-group-item-heading">
							<a class="text-dark" href="{{ program.id }}/">{{ program.title }}</a></h5>
							<p class="group inner list-group-item-text ">
							{{ program.fundraiser }}</p>
						<div class="row">
							<div class="col-xs-12 col-md-6 ">
								<p clsss="small ">Terkumpul: Rp21.620.000</p>
							</div>
							
							<div class="col-xs-12 col-md-6  text-right">
								<a class="btn btn-pink" href="/make_donation/{{ program.id }}/">Donasi</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% include 'footer.html' %}
{% block footer %}
{% endblock %}
</body>