body{
    background-color: rgba(255, 0, 157, 0.2);
}
.text-pink{
    color: rgba(255, 0, 157);
}
.navbar-color{
    background-color: #DC2D6C;
}
.bg-container {
    background-color: rgba(255, 255, 255, 50%);
}
.btn-pink {
    background-color: #DC2D6C;
    color: #fff
}
.btn-pink:hover {
    background-color: hsl(338, 71%, 45%);
    color: #fff
}
.footer-pink {
    position: absolute;
    background-color: #DC2D6C;
    color: white;
    width: 100%;
    text-align: center;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.outer-div{
    width: 100%;
    height: 91vh;
    display: flex;
  }
  .inner-div{
    width: 70%;
    margin: auto;
    text-align:center;
  }