{% block footer %}
    <div class="card-footer bg-light mb-3 border-secondary mb-3">
        <div class="mx-auto" style="width: 700px;">
            <p>Kontak kami:</p>
            <div class="row">
                <div class="column flex-sm-fill text-sm-center " width="200px">
                    <img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-512.png" style="width:75px">
                </div>
                <div class="column flex-sm-fill text-sm-center">
                    <img src="http://icons-for-free.com/free-icons/png/512/294709.png" style="width:75px">
                </div>
                <div class="flex-sm-fill text-sm-center column">
                    <img src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png" style="width:75px">
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
{% endblock %}