{% block navbar %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div style="width:100%">
                    <div class="float-right">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link active" href="{% url 'landing_page'%}">Beranda<span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link active" href="{% url 'news'%}">Berita</a>
                                <a class="nav-item nav-link active" href="{% url 'programs:index' %}">Program</a>
                                {% if user.is_authenticated %}
                                    <a class="nav-item nav-link active" href="{% url 'logout'%}">Keluar</a>
                                {% else %}
                                    <a class="nav-item nav-link active" href="{% url 'social:begin' 'google-oauth2' %}">Daftar/Masuk</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
        </nav>
        {% endblock %}
