{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
</head>

<body>
{% include 'navbar.html' %}
{% block navbar %}
{% endblock %}
  <table style="height: 500px;">
    <tbody>
      <tr>
        <td class="align-middle">
          <div class="text-center mt-5">
            <div class="container">
              <div id="products" class="row view-group">
                {% for news in news_list %}
                  <div class="item col-xs-4 col-lg-4 mb-3">
                      <div class="thumbnail card">
                          <div class="img-event">
                              <img class="group list-group-image img-fluid" src="{{ news.image }}" alt="" />
                          </div>
                          <div class="caption card-body">
                              <a href = "{{ news.id }}/" class="group card-title inner list-group-item-heading text-dark">
                                  {{ news.title }}</a>
                          </div>
                      </div>
                  </div>
                {% endfor %}
                </div>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
{% include 'footer.html' %}
{% block footer %}
{% endblock %}
</body>
</html>