{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'tugas_1.css' %}">
  <title>Dare2Care - A Crowd Funding Site</title>
</head>

<body>
{% include 'navbar.html' %}
{% block navbar %}
{% endblock %}
<body style="background-color: white">
        <div class="container bg-white mt-0 border">
            <div class=" row  mx-0 my-0 px-0 py-3 ">
            <div class="col-12 border">
                <h1 class="my-2 ">{{ news.title }}</h1>
            </div>
    
                <!-- Default form register start -->
                <div class="border bg-white col-12 section p-3 mb-3 mb-lg-auto">
                    <div class="text-center mt-5">
                        <div class="img-event">
                            <img class="img-fluid" src="{{ news.image }}" alt="" />
                        </div>
                        <div class = "container">
    
                                <div class="my-2">
                                        <p class="text-justify">{{ news.content }} </p>
                                    </div><br>
                        </div>
                 </div>
                </div>
            </div>
        </div>
{% include 'footer.html' %}
{% block footer %}
{% endblock %}
    </body>
</html>